---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { parseGpx } from 'src/lib/parseGpx';
import MapWrapper from '@components/MapWrapper.svelte';

type Props = CollectionEntry<'posts'>['data'];

const { title, description, pubDate, updatedDate, heroImage, gpxFiles } = Astro.props;

let tracks = []
for (let file of gpxFiles) {
  const geoJson = await parseGpx(file);
  tracks.push(geoJson)
}
---

<html lang="en" class="bg-base-100">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
    <main class="relative">
      <div class="container px-32 py-32">
        <article class="prose text-lg lg:text-xl prose-stone dark:prose-invert xl:max-w-xl 2xl:max-w-2xl">
          <h1 class="title">{title}</h1>
          <hr />
          <slot />
          {JSON.stringify(tracks[0])}
        </article>
      </div>
      <MapWrapper tracks={tracks} client:idle client:only="svelte" />
    </main>
		<Footer />
	</body>
</html>
